.titre{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.trad{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
body{
    background-color: #040021;
    font-family: Arial, Helvetica, sans-serif;
    position: sticky;
}
.menu{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 999;
}
.dots{
    cursor: pointer;
    width: 30px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.dots span{
    width: 6px;
    height: 6px;
    background: white;
    border-radius: 50%;
}
.dropdown{
    display: none;
    position: absolute;
    right: 0;
    margin-top: 10px;
    background-color: #1c1c1c;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    animation: fadeIn 0.2s ease-out;
}
.dropdown a {
    display: block;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    background: #1c1c1c;
    color: white;
}
.container{
    text-align: center;
    grid-template-columns: 3fr;
    position: fixed;
    bottom: 10px;
}
.bouton{
    color: black;
    border: 2px solid red;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
    padding: 5px 100px;
}
.bouton_retour{
    color: black;
    border: 2px solid white;
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 10px;
    display: flex;
}
#rules{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}
table{
    border-collapse: collapse;
    border: 2px solid white;
    font-family: sans-serif;
    letter-spacing: 1px;
    margin: 0 auto;
}
caption{
    caption-side: top;
    padding: 10px;
    font-weight: bold;
    color: white;
    border: 2px white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
thead{
    background-color: white;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
th,td{
    border: 1px solid black;
    padding: 8px 50px;
}
tbody tr:nth-child(even){
    background-color: white;
}

